*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: bisque;
}

h1 , h3 {
    text-align: center;
    margin-top: 20px;
}
.inputes-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input {
 display: flex;
 margin-top: 10px;
 justify-content: space-between;
 align-items: center;
 width: 10%;
 font-size: 17px;
}
.submit{
    margin-top: 20px;

}
#button-btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
    background-color: gray;
}
#length{
    width: 70px;
    height: 20px;

}